venv/
__pycache__/
*.py[cod]
build/
dist/
.env
azure-info.txt
.gitignore
*.pdf
todo.txt
setup.bash
setup.sh
training_set.jsonl
*.jsonl



example.txt
questions.txt
example.html
example/
node_modules/
