flask==2.3.3
flask-cors==4.0.0
flask-login==0.6.3
flask-sqlalchemy==3.0.5
werkzeug==2.3.7
openai==1.55.3
gunicorn==21.2.0
pdf2image==1.16.3
#pytesseract==0.3.10
Pillow==10.0.1 
#easyocr==1.7.0
#numpy==1.26.4